# AI-503 Assignment 4

## Q1 Smallest Multiple

In [ ]:
def find_smallest_multiple(n: int) -> int:
    if n == 1:
        return 1
    x = 1
    while True:
        ok = True
        for i in range(1, n+1):
            if x % i != 0:
                ok = False
                break
        if ok:
            return x
        x += 1

find_smallest_multiple(5)

## Q2 Armstrong

In [ ]:
def cubesum(num: int) -> int:
    return sum(int(d)**3 for d in str(num))

def isArmstrong(num: int) -> bool:
    return cubesum(num) == num

def PrintArmstrong(limit=1000):
    return [i for i in range(limit) if isArmstrong(i)]

PrintArmstrong(500)

## Q3 Precedence

Operator precedence matters: `2 + 3 * 4 = 14`, not 20.

## Q4 Convert Decimal

In [ ]:
n = 25
bin(n)[2:], oct(n)[2:], hex(n)[2:].upper()

## Q5 Squares 1â€“30

In [ ]:
[i*i for i in range(1,31)]

## Q6 Count chars

In [ ]:
def count_types(sentence):
    vowels = 'aeiouAEIOU'
    v = c = d = s = 0
    for ch in sentence:
        if ch.isdigit():
            d += 1
        elif ch.isalpha():
            if ch in vowels:
                v += 1
            else:
                c += 1
        else:
            s += 1
    return v, c, d, s

count_types("Hello!! 123")

## Q7 Student Marks

In [ ]:
students = {"Alice":85,"Bob":72,"Charlie":91,"David":67}
max(students, key=students.get), min(students, key=students.get)